# Django-specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

media/
static_collected/

# Virtual Environment
.env
venv/
env/

# IDE-specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/
node_modules/
# Operating System files
.DS_Store
Thumbs.db

# Python-specific files
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt